body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

.container {
  background-color: transparent; /* Cambiar el color de fondo a transparente */
  padding: 20px;
  border-radius: 8px;
  box-shadow: none; /* Eliminar el box-shadow */
}

.geodata-logo {
  width: 150px; /* Ajusta este valor según el tamaño deseado para el logo */
  margin: 10px; /* Añade un pequeño margen alrededor del logo */
}

.header {
  display: flex;
  align-items: center;
}

.filter-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.search-date-section,
.source-items-section {
  display: flex;
  gap: 10px;
}

.items-per-page {
  display: flex;
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 8px 12px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f5f5f5;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination > * {
  margin: 0 5px;
}

.arrow {
  cursor: pointer;
  user-select: none;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.arrow:hover {
  background-color: #f5f5f5;
}
